Source: http://investexcel.net/all-yahoo-finance-stock-tickers/

In [1]:
import pandas as pd

In [7]:
stocks = pd.read_excel('../datasets/tickers.xlsx', sheet_name='Stock', header=3, usecols=4)

stocks.head()

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA

In [17]:
stocks.to_csv('../datasets/stocks.csv.gz')

In [8]:
etfs = pd.read_excel('../datasets/tickers.xlsx', sheet_name='ETF', header=3, usecols=2)

etfs.head()

  Ticker                                      Name Exchange
0    DIA     SPDR Dow Jones Industrial Average ETF      PCX
1    AGG        iShares Core US Aggregate Bond ETF      PCX
2   ASHR  Deutsche X-trackers Harvest CSI300 CHN A      PCX
3    AMJ                  JPMorgan Alerian MLP ETN      PCX
4    XME            SPDR S&P Metals and Mining ETF      PCX

In [18]:
etfs.to_csv('../datasets/etfs.csv.gz')

In [10]:
futures = pd.read_excel('../datasets/tickers.xlsx', sheet_name='Future', header=3, usecols=2)

futures.head()

         Ticker Name Exchange
0       APU5.AX  NaN      NaN
1  ACV1529-C.BO  NaN      NaN
2       IRH7.AX  NaN      NaN
3       WMF6.AX  NaN      NaN
4      APSM6.AX  NaN      NaN

In [19]:
futures.to_csv('../datasets/futures.csv.gz')

In [11]:
indexes = pd.read_excel('../datasets/tickers.xlsx', sheet_name='Index', header=3, usecols=2)

indexes.head()

   Ticker                       Name Exchange
0   ^MERV        MERVAL BUENOS AIRES      BUE
1  ^TA100                     TA-125      TLV
2    ^ATX                        ATX      VIE
3    ^DJU  Dow Jones Utility Average      DJI
4   ^AORD             ALL ORDINARIES      ASX

In [15]:
funds = pd.read_excel('../datasets/tickers.xlsx', sheet_name='Mutual Fund', header=3, usecols=2)

funds.head()

         Ticker Name Exchange
0       APU5.AX  NaN      NaN
1  ACV1529-C.BO  NaN      NaN
2       IRH7.AX  NaN      NaN
3       WMF6.AX  NaN      NaN
4      APSM6.AX  NaN      NaN

In [20]:
funds.to_csv('../datasets/funds.csv.gz')

In [16]:
currencies = pd.read_excel('../datasets/tickers.xlsx', sheet_name='Currency', header=3, usecols=2)

currencies.head()

     Ticker     Name Exchange
0  AUDUSD=X  AUD/USD      CCY
1  AUDCHF=X  AUD/CHF      CCY
2  AUDNZD=X  AUD/NZD      CCY
3  AUDEUR=X  AUD/EUR      CCY
4  AUDTWD=X  AUD/TWD      CCY

In [21]:
currencies.to_csv('../datasets/currencies.csv.gz')